html {
	font-family: "Open Sans";
	scroll-behavior: smooth;
	font-size: 16px;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper_content {
	flex: 1;
	position: relative;
}

.wrapper__content--main {
	background: url("../img/background.png");
	background-repeat: no-repeat;
}

a:hover {
	color: #da0100;
}

.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1141px;
}

.logo, .menu, .menu__item, .contacts {
	display: inline-block;
}

.logo, .contacts {
	margin-top: 29px;
}

.logo {
	float: left;
}

.contacts {
	float: right;
	margin-top: 35px;
}

.menu {
	margin-left: 260px;
	margin-top: 40px;
}
body,
html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #000;
	margin: 0;
}

button {
	border: 0;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}
a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}
